.card-container {
  background-color: rgb(184, 181, 181);
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 30px;
  justify-content: center;
  align-items: center;
  height: 500px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in-out;
}

.card-container:hover {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
  background-color: rgb(101, 101, 101);
  transform: translateY(-5px);
  cursor: pointer;
  color: rgb(255, 255, 255);
}
